@use '@scss/global/functions' as *;
@use '@scss/global/mixins' as m;

@media (width > em(768)) {

    .body-wrapper {
        row-gap: fluid(80, 120, 768, 1440);
    }

    .header {
        padding-inline: fluid(32, 135, 768, 1440);
        background-image: url(../assets/images/pattern-light-bg.svg),
                        url(../assets/images/pattern-glow.svg);
        background-repeat: repeat, no-repeat;
        background-position: top, calc(100% + 500px) calc(100% + 568px);
        align-items: center;
        
        &__link-wrapper {
            display: block;
            inline-size: 100%;
            max-inline-size: rem(850);
        }
    }

    .main {
        padding-inline: fluid(32, 135, 768, 1440);
        row-gap: fluid(80, 120, 768, 1440);
    }
    
    .read {
        align-self: center;
    }

    .club {
        align-self: center;

        &__img-wrapper {
            position: relative;
            max-inline-size: rem(850);
        }

        &__decor-img {
            display: inline;
            position: absolute;
            inset-inline-end: 50px;
            inset-block-end: 50px;
        }
    }

    .plans {
        align-self: center;
        align-items: center;
        max-inline-size: rem(850);
        &__title {
            align-self: flex-start;
        }

        &__list {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__list-item {
            inline-size: auto;
            max-inline-size: rem(340);
        }

        &__btn {
            padding-inline: 70px;
        }

        &__btn-talk {
            padding-inline: 87px;
        }
    }

    .review {
        align-self: center;
    }

    .footer {

        &__content {
            padding-block-start: fluid(64, 80, 768, 1440);
        }
        
        &__bottom {
            flex-direction: row;
            justify-content: space-between;
            margin-inline: fluid(0, 135, 768, 1440);
        }
    }
}

@media (width > em(1201)) {

    .header {
        row-gap: fluid(64, 80, 1201, 1440);
        background-position: top, calc(100% + 550px) calc(100% + 400px);


        &__link-wrapper {
            max-inline-size: rem(1173.8);
        }

        &__desc {
            max-inline-size: 48ch;
        }

        &__wrapper {
            flex-direction: row;
            align-items: center;
            column-gap: fluid(10, 64, 1201, 1440);
        }

        &__content {
            max-inline-size: rem(560);
        }

        &__hero-img {
            flex: 1;
            max-inline-size: rem(540);
            max-block-size: rem(606);
        }
    }
}