@use '@scss/global/functions' as *;

.footer {
    display: flex;
    flex-direction: column;
    row-gap: 64px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 24px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 16px;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }

    &__social-list {
        display: flex;
        align-items: center;
        column-gap: 24px;
    }
}