html {
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-secondary);
    font-size: var(--fs-body-primary);
    font-weight: var(--fw-text);
    line-height: var(--lh-body);
    letter-spacing: var(--ls-primary);
    color: var(--clr-dark-secondary);
    
}

h1 {
    font-family: var(--ff-primary);
    font-size: var(--fs-heading-primary);
    font-weight: var(--fw-heading-primary);
    line-height: var(--lh-2);
    letter-spacing: var(--ls-heading);
    color: transparent;
    background-image: var(--clr-grad-text);
    background-clip: text;
}

h2 {
    font-family: var(--ff-primary);
    font-size: var(--fs-heading-secondary);
    font-weight: var(--fw-heading-secondary);
    line-height: var(--lh-3);
    letter-spacing: var(--ls-heading);
    color: var(--clr-dark-primary);
}

p, li, figcaption {
    text-wrap: pretty;
    max-inline-size: 65ch;
}

img, picture, video, canvas, svg {
    display: block;
    max-inline-size: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

a, a:visited, a:active {
    text-decoration: none;
}