@use './functions' as *;

@mixin button-primary($color: var(--clr-dark-primary), $bg-color: var(--clr-btn-primary), $grad-color: var(--clr-grad-btn-primary)) {
    font-family: var(--ff-primary);
    font-size: var(--fs-button);
    font-weight: var(--fw-heading-secondary);
    line-height: var(--lh-3);
    letter-spacing: var(--ls-secondary);
    text-align: center;
    text-transform: uppercase;
    outline: rem(2) solid $color;
    color: $color;
    background: $bg-color;
    padding-inline: 23px;
    padding-block: 20px;
    border-radius: rem(8);
    max-inline-size: rem(380);
    position: relative;
    overflow: clip;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: $grad-color;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: -1;
    }

    &:hover::before,
    &:focus-visible::before {
        opacity: 1;
    }

    &:focus-visible {
        outline: rem(6) double $color;
    }
}